---
import { getCollection } from "astro:content";
import { getEntry } from "astro:content";
import { Heading } from "../../components/Heading/Heading.tsx";
import { Container } from "../../components/Container/Container.tsx";
import { Header } from "../../components/Container/Header.tsx";
import { Grid } from "../../components/Grid/Grid.tsx";
import { DateFromNow } from "../../components/Date/Date.tsx";
import Layout from "../../components/Layout/Layout.astro";
import { Pill } from "../../components/Pill/Pill";
import { readTime } from "../../utils";
import hljs from "highlight.js";
import javascript from "highlight.js/lib/languages/javascript";

// Then register the languages you need
hljs.registerLanguage("javascript", javascript);

const { slug } = Astro.params;

export async function getStaticPaths() {
  const blogEntries = await getCollection("posts");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const post = await getEntry("posts", slug);
const { Content } = await post.render();

const seo = {
  title: post.data.title,
  description: post.data.summary,
  keywords: "",
  sitename: "blog.madebyjonny.com",
  url: `https://blog.madebyjonny.com/posts/${post.slug}`,
  imageurl: `https://blog.madebyjonny.com/api/${post.slug}/og.png`,
  imageAlt: post.data.title + " - " + post.data.summary,
};
---

<Layout seo={seo}>
  <Grid>
    <Container>
      <Header>
        <Pill>{post.data.category.replace("-", " ")}</Pill>
        <Heading as="h1">{post.data.title}</Heading>
        <div>
          <span>Posted <DateFromNow date={post.data.created_on} /></span> -
          <span>{readTime(post.body)} min read</span>
        </div>
      </Header>
    </Container>
    <Content />
  </Grid>
</Layout>
