---
import { getCollection } from "astro:content";
import { Grid } from "../components/Grid/Grid.tsx";
import { BlogCard } from "../components/Card/Card.tsx";
import { HeroText } from "../components/HeroText/HeroText.tsx";
import Layout from "../components/Layout/Layout.astro";

const posts = (await getCollection("posts")) as {
  slug: string;
  data: {
    title: string;
    category: string;
    summary: string;
    created_on: string;
  };
}[];

const seo = {
  title: "Blog",
  keywords: "tech",
  description:
    "This is mostly a place where I can talk about the technologies I am using and the things I am learning.",
  sitename: "Jonathan Hamilton's blog",
  url: "https://blog.madebyjonny.com",
  imageurl: "https://blog.madebyjonny.com/api/my-blog/og.png",
  imageAlt: "banner for the blog",
};
---

<Layout seo={seo}>
  <Grid>
    <HeroText
      title="ðŸ‘‹ðŸ» Welcome to my blog"
      leadText="This is mostly a place where I can talk about the technologies I am using and the things I am learning."
    />
  </Grid>
  <Grid>
    <ul>
      {
        posts &&
          posts
            .sort((a, b) => {
              return (
                new Date(b.data.created_on).valueOf() -
                new Date(a.data.created_on).valueOf()
              );
            })
            .map((post) => (
              <li>
                <BlogCard
                  href={`/posts/${post.slug}`}
                  category={post.data.category.replace("-", " ")}
                  title={post.data.title}
                  summary={post.data.summary}
                  date={post.data.created_on}
                />
              </li>
            ))
      }
    </ul>
  </Grid>
</Layout>
