---
import { getCollection } from "astro:content";
import { Grid } from "../components/Grid/Grid.tsx";
import { BlogCard } from "../components/Card/Card.tsx";
import { HeroText } from "../components/HeroText/HeroText.tsx";
import Layout from "../components/Layout/Layout.astro";

const posts = (await getCollection("posts")) as {
  slug: string;
  data: {
    title: string;
    category: string;
    summary: string;
    created_on: string;
  };
}[];

const seo = {
  title: "Blog",
  keywords: "tech",
  description: "My blog",
  sitename: "Jonathan Hamilton's blog",
  url: "https://example.com/blog",
  imageurl: "https://example.com/og-image.jpg",
  imageAlt: "banner for the blog",
};
---

<Layout seo={seo}>
  <Grid>
    <HeroText
      title="ðŸ‘‹ðŸ» Welcome to my blog"
      leadText="This is mostly a place for me to talk about the technology I am using and also to experiment with them."
    />
  </Grid>
  <Grid>
    <ul>
      {
        posts &&
          posts.map((post) => (
            <li>
              <BlogCard
                href={`/posts/${post.slug}`}
                category={post.data.category.replace("-", " ")}
                title={post.data.title}
                summary={post.data.summary}
                date={post.data.created_on}
              />
            </li>
          ))
      }
    </ul>
  </Grid>
</Layout>
